<h1>Welcome to Vegas Burger Factory!</h1>
<p class="lead">here's a static version of the goal outcome:</p>

<div class="row">
	<div class="col-sm col-4">[Form with Ingredients etc here?]</div>
	<div class="col-sm col-4">
		<h3>Hal's Burger:</h3>
		<div id="burger" class="text-center">
			<div class="bun">bun</div>
			<div class="lettuce ingredient">lettuce</div>
			<div class="onion ingredient">onion</div>
			<div class="pickles ingredient ingredient-dark">pickles</div>
			<div class="tomato ingredient ingredient-dark">tomato</div>
			<div class="cheese ingredient">cheese</div>

			<div class="hamburger ingredient ingredient-dark">hamburger</div>
			<div class="bun">bun</div>
		</div>
	</div>
	<div class="col-sm col-4">[Total Cost here?]</div>
</div><!-- .row-->

<%= link_to "mo better version of this page", mo_betta_path %>
<br/>
<%= link_to "see a list of burgers", burgers_path %>