<style type="text/css">
#burger {
width: 400px;
}
#burger #top-bun {
height: 100px;
border-radius: 900px 900px 10px 10px;
background-color: #A27732;
border-top: 9px solid #906725;
color: white;
}
#burger #lettuce {
border-radius: 8px;
background-color: #80D041;
height: 25px;
border-bottom: 3px solid #0F6D12;
}
#burger #tomato {
border-radius: 14px;
background-color: #F13233;
height: 35px;
border-bottom: 5px solid #940C0E;
color: white;
}
#burger #onion {
border-radius: 8px;
background-color: #B95381;
height: 25px;
border-bottom: 4px solid #7E1846;
color: white;
}
#burger #cheese {
background-color: #E8EA02;
border-radius: 10px;
height: 25px;
border-bottom: 5px solid #EAB902;
}
#burger #beef {
border-radius: 15px;
background-color: #603102;
height: 50px;
border-bottom: 16px solid #402408;
color: white;
}
#burger #bottom-bun {
background-color: #A27732;
border-radius: 10px 10px 50px 50px;
height: 60px;
border-bottom: 11px solid #724D12;
color: white;
}
</style>

<h1>Welcome to Vegas Burger Factory!</h1>
<p class="lead">here's a mo betta version of the goal outcome:</p>

<div class="row">
	<div class="col-sm col-4">[Form with Ingredients etc here?]</div>
	<div class="col-sm col-4">
		<h3>Hal's Burger:</h3>

		<div id="burger" class="text-center">
			<div id="top-bun">top-bun</div>
			<div id="lettuce">lettuce</div>
			<div id="tomato">tomato</div>
			<div id="onion">onion</div>
			<div id="cheese">cheese</div>
			<div id="beef">beef</div>
			<div id="bottom-bun">bottom-bun</div>
		</div>

	</div>
	<div class="col-sm col-4">[Total Cost here?]</div>
</div><!-- .row-->

<%= link_to "original version of this page", root_path %>
<br/>
<%= link_to "see a list of burgers", burgers_path %>

<br/><br/>
I stole the burger CSS design from <a href="https://www.amberddesign.com/cheeseburger-with-html-and-css/">amberdesign.com</a>


